html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
	color: black;
	}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}
html{
    font-size:62.5%;
}
body { 
    font-size:1.6rem;
    line-height:1.5;
    font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	overscroll-behavior: none;
}

.img {    
	background-image: url(assets/Images/background.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	height: 100vh;
	width: 100vw;
    z-index: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: green;
}

  .body {
    z-index: 1;
  }

  h1 {
    font-size: 7rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  
 .title {
    display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 10%;
  }

  .quote {
    display: flex;
    flex-direction: column;
    align-items: center;
  }