html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

.body {
  z-index: 1;
}

.img {
  background-image: url(../background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.title {
  font-size: 9.5rem;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15% auto 0%;
  width: auto;
  text-align: center;
  font-family: 'Bad Script', bold;
  line-height: 100%;
  border-bottom: 1.5px solid #efe006;
}

.quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 2.5rem;
  margin: 0%;
  padding: 2%;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Bad Script', bold;
  margin-bottom: 2%;
  color: white;
  font-style: bold;
  border-bottom: 1.5px solid #efe006;
}

p {
  font-size: 2rem;
  text-align: left;
  padding: 5%;
  border-radius: 30px;
  color: white;
}

main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.content {
  background-color: rgba(54, 92, 29, 0.266);
  width: 80%;
  padding: 2%;
  margin: 2%;
  margin-top: 30%;
  border-radius: 15px;
  color: white;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.basic,
.premium {
  margin: 2% 0%;
  padding-top: 1%;
  width: 45%;
  /* background-color: rgba(101, 191, 167, 0.623); */
  border-radius: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3%;
  letter-spacing: 0.8px;
  line-height: 170%;
  font-size: 2.3rem;
  padding: 5%;
  margin: 3%;
  align-items: start;
  color: white;
}

.bottomText {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* NAVIGATION */

.nav-menu {
  width: 80%;
  margin: auto;
  border-bottom: 2px solid #ffffff7d;
}

li {
  margin: 1%;
}

.navbar {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.nav-link {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover {
  color: #efe006;
}

/* FOOTER */

footer {
  margin-top: 10%;
  margin-bottom: 0%;
  width: 100%;
  z-index: 3;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1% auto;
  width: 50%;
}

.icons,
.phoneIcon {
  background: none;
  font-size: 6.5rem;
  width: 100%;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  z-index: 4;
}

.phoneIcon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h5 {
  display: none;
  color: #efe006;
  font-size: 2rem;
  width: 100%;
  margin: 0;
}

.phoneIcon:hover h5 {
  display: inline;
  margin: 0;
  padding: 0;
  transition: 2s;
}

.phoneIcon:hover ion-icon {
  display: none;
  margin: 0;
  padding: 0;
  transition: 2s;
}

.icons:hover {
  color: #efe006;
  background: none;
  transition: 1.5s;
}

/* MEDIA QUERY */
@media (max-width: 863px) {
  /* NAVIGATION */
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  p {
    margin-bottom: 5%;
    text-align: center;
    margin: auto;
    width: 95%;
    padding: 0%;
  }

  .title {
    font-size: 5rem;
    margin: 50% auto 30%;
  }

  h3 {
    font-size: 2.5rem;
  }

  /* FOOTER */
  .iconContainer {
    width: 100%;
    margin-bottom: 7%;
  }

  .icons,
  .phoneIcon {
    font-size: 4rem;
  }

  .phoneIcon:hover h5 {
    display: none;
    transition: 2s;
  }

  .phoneIcon:hover ion-icon {
    display: inline;
    color: #efe006;
    transition: 1.5s;
  }

  /* NOVEL */

  .content {
    width: 100%;
    margin: 40% 0% 0%;
    padding: 3% 0%;
    border-radius: 0;
  }

  .services {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .basic,
  .premium {
    width: 90%;
  }

  li {
    margin: 0%;
    font-size: 2rem;
  }

  .list {
    margin-top: 3%;
    letter-spacing: 0.8px;
    line-height: 120%;
  }
}
