html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
  min-height: 100vh;
}

.img {
  background-image: url(../assets/Images/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.title {
    display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 10%;
  }

.body {
  z-index: 1;

}

h1 {
  font-size: 7rem;
}

h3 {
  text-align: center;
  font-size: 4rem;
  border-bottom: 1px solid black;
}

p {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(245, 243, 226, 0.5);
  padding: 5%;
  border-radius: 10px;
}

img {
  width: 50%;
  margin: 5% 0;
  border-radius: 300px;
}
main {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.nav-menu {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: green;
}

footer {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 0%;
  padding: 2%;
  background-color: rgba(245, 243, 226, 0.2);
  width: 100%;
  z-index: 3;
  /* position: absolute; */
  /* bottom: 0; */
}

.icons{
  display: flex;
	background: none;
  padding: 0% 3%;
	font-size: 4rem;
	border: none;
	color: whitesmoke;
	cursor: pointer;
  z-index: 4;
}

/* .phone h4 {
  opacity: 0;
  transform: scale(0);
  transition: 0.8;
  font-size: 2rem;
  color: white;
  display: flex;
}

.phone:hover {
  opacity:0;
}
.phone:hover h4{
  opacity: 1;
  transform: scale(1);
} */

h4 {
  display: none;
  font-size: 2rem;
} 

.phone:hover + h4 {
  display: inline-block;
  color: white;
}
 
.icons:hover {
	background-color:rgba(255, 255, 255, 0.38);
	color:rgba(213,197,174, .6);
	background: none;
}

/* @media only screen and (max-width: 768px) */
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  img {
    border-radius: 140px;
  }

  main {
    width: 100%;
  }

  p {
    border-radius: 0%;
  }
}
