html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

.img {
  background-image: url(../assets/Images/background.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 0;
  font-size: 5rem;
}

.body {
  z-index: 1;
}


p {
  font-size: 1.5rem;
  text-align: left;
}

main {
  width: 80%;
  margin: auto;
  padding: 5%;
  background-color: rgba(245, 243, 226, 0.5);
  border-radius: 30px;
}

img {
  width: 30%;
}

.verticalImg {
  display: inline;
}

.horizontalImg {
  display: none;
}

.listPic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% auto;
  width: 80%;
}

.list {
  text-align: left;
  padding: 5%;
  align-items: start;
  width: 50%;
}

.nav-menu {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: green;
}

/* @media only screen and (max-width: 768px) */
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  h1 {
    font-size: 4rem;
  }

  img {
    width: 100%;
  }
  .listPic {
    width: 100%;
    flex-direction: column;
  }

  .horizontalImg {
    display: inline;
  }

  .verticalImg {
    display: none;
  }

  .list {
    width: 100%;
  }
}
